.day {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 132px 0px 1fr;
    grid-template-columns: 132px 1fr;
    border: 1px solid#eef2f5;
    grid-gap: 0px;

    &__highlight {
        background-color: #f5f6fa;
        border-right: 1px solid#eef2f5;
        border-top: 1px solid#eef2f5;
    }

    &__head {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        margin-top: 20px;
        background-color: #f5f6fa;
        text-align: center;
        padding-top: 24px;
        padding-bottom: 22px;
        font-weight: 700;
        text-transform: uppercase;
        color: #c2c4cf;
        border: 1px solid#eef2f5;
        border-right: 2px solid#eef2f5;
        width: 100%;
        border-bottom: 0;
    }
}